
$dark-primary: #1d1d1f;
$dark-secondary: #4b4b4b;
$dark-secondary-alt: #424245;
$dark-tertiary: #86868b;

$light-primary: #fff;
$light-secondary: #f5f5f5;
$light-secondary-alt: #e5f4ff;
$light-tertiary: #e6e6e6;

$fg-violet: #504bb9;

$fg-blue: #06c;
$bg-blue: #0071e3;

$fg-orange: #b64400;
$bg-orange: #f56300;

$fg-red: #a60000;
$bg-red: #e32222;

$fg-yellow: #ebcc3b;
$bg-yellow: #ffe045;

$fg-green: #008009;
$bg-green: #34ca29;

